# ---------------------------------------------------------------------------
# Keycloak
# ---------------------------------------------------------------------------
keycloak_url            = "http://localhost:8090"
keycloak_admin_username = "admin"
keycloak_admin_password = "admin"

realm_name         = "rmu"
realm_display_name = "Rolemaster Unified Engine"

rmu_client_secret = "changeit"

rmu_client_valid_redirect_uris = [
  "http://localhost:*/*",
  "*",
]
rmu_client_web_origins = [
  "http://localhost:*",
  "*",
]
rmu_client_front_valid_redirect_uris = [
  "http://localhost:*/*",
  "*",
]
rmu_client_front_web_origins = [
  "http://localhost:*",
  "*",
]

# ---------------------------------------------------------------------------
# Users
# ---------------------------------------------------------------------------
primary_user_username   = "luiscabrera"
primary_user_email      = "lab.cabrera@gmail.com"
primary_user_first_name = "Luis"
primary_user_last_name  = "Cabrera"
primary_user_password   = "changeit"

guest_user_username   = "genericuser"
guest_user_email      = "generic-user@example.com"
guest_user_first_name = "John"
guest_user_last_name  = "Doe"
guest_user_password   = "changeit"
