MONGO_BASE_URI=mongodb://admin:admin@rmu-mongo:27017
MONGO_USER=admin
MONGO_PASSWORD=admin

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB_KEYCLOAK=keycloak

KAFKA_BROKERS=rmu-kafka-broker:9092

# Keycloak for microservices
KEYCLOAK_BASE_URI=http://rmu-keycloak:8080
KEYCLOAK_REALM=rmu
KEYCLOAK_CLIENT_ID=rmu-client
KEYCLOAK_CLIENT_SECRET=changeit

# Keycloak for instance
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
KC_DB=postgres
KC_DB_URL_HOST=rmu-postgres
KC_HOSTNAME=localhost
KC_LOG_LEVEL=INFO

KAFKA_UI_USER=admin
KAFKA_UI_PASSWORD=admin

AWS_S3_REGION=eu-west-1
AWS_S3_BUCKET=rmu-static-assets-pro
AWS_S3_BASE_FOLDER=rmu-mfe-assets
AWS_S3_IMAGE_FOLDER=images
AWS_ACCESS_KEY_ID={foo}
AWS_SECRET_ACCESS_KEY={bar}

MEDIA_ASSETS_URI=https://assets.labcabrera.com/

LOG_LEVEL=debug
